@font-face {
  font-family: "Fredoka Light";
  src: url("/fonts/Fredoka/Fredoka-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka Regular";
  src: url("/fonts/Fredoka/Fredoka-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka Medium";
  src: url("/fonts/Fredoka/Fredoka-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka SemiBold";
  src: url("/fonts/Fredoka/Fredoka-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka Bold";
  src: url("/fonts/Fredoka/Fredoka-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
