$background-color: #f9f4ef;
$highlight-color: #8c7851;
$paragraph-color: #716040;
$main-color: #fffffe;
$stroke-color: #020826;
$secondary-color: #eaddcf;
$tertiary-color: #f25042;
$text-color: #7B7B7B;
