$background-color: #f9f4ef;
$highlight-color: #8c7851;
$paragraph-color: #716040;
$main-color: #fffffe;
$stroke-color: #020826;
$secondary-color: #eaddcf;
$tertiary-color: #f25042;
$text-color: #7B7B7B;

// $background-color: rgb(150, 147, 155);
// $highlight-color: rgb(153, 98, 30);
// // $highlight-color: rgb(111, 124, 18);
// // $highlight-color: rgb(242, 165, 65);
// $paragraph-color: rgb(13, 59, 102);
// $main-color: #fffffe;
// $stroke-color: rgb(188, 244, 222);
// $secondary-color: #eaddcf;
// $tertiary-color: #f25042;
// $text-color: #7B7B7B;
