.quote {
  padding-block: 31px;
  padding-inline: 30px;
  border-radius: 16px;

  background-color: $secondary-color;
  font-family: "Fredoka Regular", sans-serif;
  font-size: 20px;
  word-wrap: break-word; 
  white-space: normal;
  color: $text-color;
}
