.aiGenerationForm {
  &__title {
    font-size: 30px;
    margin-bottom: 20px;
  }

  &__inputs {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
  }

  &__goalInput {
    flex: 3;
  }

  &__dateInput {
    flex: 1;
  }

  &__goalContextInput {
    resize: vertical;
  }

  &__createButton {
    margin-top: 20px;
    width: 200px;
  }
}
