.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  background-color: $secondary-color;
  border-radius: 16px;
  padding-inline: 30px;

  &__text {
    transition: color 0.2s ease;
    color: $paragraph-color;

    &--done {
      text-decoration: line-through;
      color: $paragraph-color;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  // Ховаємо нативний чекбокс
  &__input {
    display: none;

    // Коли input checked, стилізуємо box
    &:checked + .task__box {
      background: $paragraph-color;
      border-color: $paragraph-color;

      &::after {
        opacity: 1;
      }
    }
  }

  &__box {
    width: 18px;
    height: 18px;
    border: 2px solid #333;
    border-radius: 4px;
    position: relative;
    transition: background 0.2s ease, border-color 0.2s ease;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 5px;
      border-left: 2px solid white;
      border-bottom: 2px solid white;
      transform: rotate(-45deg);
      top: 3px;
      left: 3px;
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  &__reward {
    font-size: 18px;
    font-weight: bold;
    color: #4caf50;
    margin-left: auto;
    animation: popUp 0.5s ease-out;
  }
}

@keyframes popUp {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px) scale(1.2);
  }
}
