.newGoalPage {
  &__tabs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
  }

  &__tab {
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  &__tabActive {
    font-size: 15px;
    color: $paragraph-color;
  }

  &__loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
}
