.sidebar {
  width: 250px;
  background-color: $paragraph-color;
  height: 100vh;
  padding: 20px;
  border-radius: 16px;
  overflow-y: auto;
  overflow-x: hidden;

  &__title {
    color: #ffffff;
    font-size: 24px;
    margin: 0;
  }
}
